.navbar { 
    position: fixed;   
    z-index: 100;
    top: 3rem;
    right: 0.5rem;
    justify-content: end;
    transform: translate(-50%, -50%);
}


.menu-icon {
    font-size: 2rem;
    background: none;

}

.nav-menu {
    background-color: #030929 ;
    width: 250px;
    height: 100vh;
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    right: -100%;
    z-index: 200;
    transition: 850ms;
}
.nav-menu.active{
    right: 0%;
    transition: 950ms;
}
.nav-text {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 8px 0px 8px 16px;
    list-style: none;
    height: 60px;
}
.nav-menu-items{
    width: 100%;
}
.nav-text a{
    text-decoration: none;
    color: -webkit-link;
    font-size: 18px;
    width: 95%;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 16px;
    border-radius: 4px;
    color: rgb(255, 255, 255);
}
.nav-text a:hover{
    background-color:#0a3b72;
}
.navbar-toggle{
   margin: 2rem 0rem 2rem 2rem;
}
span {
    margin-left: 16px;
}